{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "selector-class-pattern": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "unit-allowed-list": ["px", "em", "rem", "vw", "vh", "s"],
    "property-no-vendor-prefix": [true, { "severity": "warning" }]
  }
}
